# dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dist-ssr
*.local

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
.fleet
.idea

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.nx/cache
node_modules
.temp
.cache
*.timestamp-*
cache
**/dist